<app-header></app-header>
<router-outlet></router-outlet>
<!-- <h1>
	{{title}}
</h1>
<form (submit)="create()">
	<input name="todo" type="text" [(ngModel)]="todo.text" placeholder="Add todo" />
	<button>Add todo</button>
</form>
<ul *ngIf="todoRef">
	<li *ngFor="let _todo of todos">
		<input name="_todo.id" [(ngModel)]="_todo.text" />
		<button (click)="update(_todo)">Update</button>
		<button (click)="remove(_todo)">Remove</button>
	</li>
</ul>
<h1>
	todo list
</h1>
<ul>
	<li *ngFor="let _todoList of todoList">{{_todoList.text}}</li>
</ul> -->
<app-footer></app-footer>