app-profile {
	width: 100%;
	display: block;
}
.wrap-container {
	width: 100%;
	margin: 5px 5px;
}

.wrap-container h3{
	color: #3879d9;
}

.wrap-content-left {
	float: left;
	width: 40%;
}
agm-map {
	height: 550px;
	width: 600px;
}
.infoWindowContent {
	font-size:  14px !important;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}
h2 {
	margin-bottom:0;
	margin-top: 0;
}
#legend {
	background: #FFF;
	padding: 10px;
	margin: 5px;
	font-size: 12px;
	font-family: Arial, sans-serif;
	opacity: 0.7;
	z-index: 0;
	position: absolute;
	top: 0px;
	left: 15px;
}

.wrap-content-right {
	overflow-y: scroll;
	height: 550px;
}


.ng-valid[required], .ng-valid.required  {
	border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
	border-left: 5px solid #a94442; /* red */
}
.btn-remove {
	cursor: pointer;
}
.btn-remove i{
	font-size: 44px;
	margin-top: 28px;
	color: #ff0000;
}
.btn-edit {
	cursor: pointer;
}
.btn-edit i{
	font-size: 46px;
	margin-top: 28px;
	color: #222;
}
.btn-detail {
	cursor: pointer;
}
.btn-detail i{
	font-size: 46px;
	margin-top: 28px;
	color: #3879d9;
}
.btn-add {
	cursor: pointer;
}
.btn-add i{
	font-size: 13px;
	color: #00ff00;
}

.btn-save {
	cursor: pointer;
}
.btn-save i{
	color: #fff;
}
