<p>
	Profile works!
</p>
<div class="wrap-container">
	<div class="row">
		<div class="col-md-5">
			<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" (mapClick)="mapClicked($event)">
				<agm-marker *ngFor="let m of houses; let i = index" [latitude]="m.latitude" [longitude]="m.longitude"></agm-marker>
			</agm-map>
			<div id="legend">
				<h4>Search Motel(beta)*</h4>
				<p>Totals: <strong>12</strong></p>
				<p>Rooms On: <strong>100</strong></p>
				<p>Rooms Off: <strong>200</strong></p>
			</div>
		</div>
		<div class="col-md-7 wrap-content-right">
			<h3>Nhà của bạn ở đâu nhỉ?</h3>
			<div class="container-information">
				<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
					<div *ngFor="let house of houses; let j = index">
						<h4>Nhà số {{j+1}}: </h4>
						<div class="row">
							<div class="col-md-9">
								<div class="form-group">
									<div class="row">
										<div class="col-md-6">
											<label for="address">Địa Chỉ</label>
											<input type="text" class="form-control" id="address{{j+1}}"
											[(ngModel)]="house.address" name="address{{j+1}}">
										</div>
										<div class="col-md-3">
											<label for="latitude">Vỹ độ</label>
											<input type="text" class="form-control" id="latitude{{j+1}}"
											[(ngModel)]="house.latitude" name="latitude{{j+1}}" disabled="disabled">
										</div>
										<div class="col-md-3">
											<label for="longitude">Kinh độ</label>
											<input type="text" class="form-control" id="longitude{{j+1}}"
											[(ngModel)]="house.longitude" name="longitude{{j+1}}" disabled="disabled">
										</div>
									</div>
								</div>

								<div class="form-group">
									<label for="name">Tên Nhà</label>
									<input type="text" class="form-control" id="name{{j+1}}"
									required [(ngModel)]="house.name" name="name{{j+1}}">
								</div>
							</div>
							<div class="col-md-3">
								<a class="btn-remove" (click)="removeHouse(house)"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
								<a class="btn-edit" (click)="editHouse(house)"><i class="fa fa-edit" aria-hidden="true"></i></a>
								<a class="btn-detail" routerLink="/house/{{house.id}}" routerLinkActive="active"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
					<button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
					<button type="button" class="btn btn-default" (click)="heroForm.reset()">Reset</button>

				</form>
			</div>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-md-12">
			<ul>
				<li *ngFor="let m of houses; let j = index">
					Nhà số {{j+1}}: {{m.address}}(Tọa độ: <strong>{{m.latitude}}, {{m.longitude}}</strong>)
					<a class="btn-remove" (click)="removePosition(j)"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
				</li>
			</ul>
		</div>
	</div> -->
</div>