app-profile {
	width: 100%;
	display: block;
}
.wrap-container {
	width: 100%;
}
.wrap-content-left {
	float: left;
	width: 40%;
}
agm-map {
	height: 350px;
	width: 600px;
}
.infoWindowContent {
	font-size:  14px !important;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}
h2 {
	margin-bottom:0;
	margin-top: 0;
}
#legend {
	background: #FFF;
	padding: 10px;
	margin: 5px;
	font-size: 12px;
	font-family: Arial, sans-serif;
	opacity: 0.7;
	z-index: 0;
	position: absolute;
	top: 150px;
	left: 10px;
}

.wrap-content-right {
	float: left;
	width: 59%;
}


.ng-valid[required], .ng-valid.required  {
	border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
	border-left: 5px solid #a94442; /* red */
}
.btn-remove {
	cursor: pointer;
}
.btn-remove i{
	font-size: 13px;
	color: #ff0000;
}
.btn-add {
	cursor: pointer;
}
.btn-add i{
	font-size: 13px;
	color: #00ff00;
}